<section class="new-two-sections">
    <div class="container">
        <div class="news-wrap">
            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет </span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-3.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет </span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-3.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет </span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-3.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="news__wrap">
                    <div class="news__img">
                        <img src="assets/images/bg-2.jpg" alt="">
                    </div>
                    <div class="news__col">
                        <span class="news__title">Заголовок новости который будет</span>
                        <span class="news__title">заполнять две строки в этом блоке</span>
                        <div class="news-btn">
                            <a href="#" class="news__link">Подробнее...</a>
                            <span class="news__subtext">23 августа 2022</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @@include('../components/pagination.html')
    </div>
</section>