<section class="contact-info-sections">
    <div class="container">
        <div class="contact">
            <div class="contact__wrap">
                <nav class="contact-nav">
                    <span class="contact-nav__subtitle">связаться с нами</span>
                    <h2 class="contact-nav__title">Конттактные данные</h2>
                    <ul class="contact-nav__list">
                        <li class="contact-nav__item">
                            <div class="contact-nav__wrap">
                                <div class="contact-nav__img-wrap">
                                    <div class="contact-nav__img">
                                        <img src="assets/images/local.svg" alt="">
                                    </div>
                                </div>
                                <div class="contact-nav__col">
                                    <span class="contact-nav__subtext">Адрес офиса:</span>
                                    <span class="contact-nav__text">г. Москва ул. Димитрова 20, оф.18. </span>
                                </div>

                            </div>
                        </li>
                        <li class="contact-nav__item">
                            <div class="contact-nav__wrap">
                                <div class="contact-nav__img-wrap">
                                    <div class="contact-nav__img">
                                        <img src="assets/images/tel.svg" alt="">
                                    </div>
                                </div>
                                <div class="contact-nav__col">
                                    <span class="contact-nav__subtext">Контактный телефон:</span>
                                    <a href="tel:+70000000000" class="contact-nav__link contact-nav__text">+7 (000)
                                        000-00-00</a>
                                </div>

                            </div>
                        </li>
                        <li class="contact-nav__item">
                            <div class="contact-nav__wrap">
                                <div class="contact-nav__img-wrap">
                                    <div class="contact-nav__img">
                                        <img src="assets/images/clock.png" alt="">
                                    </div>
                                </div>
                                <div class="contact-nav__col">
                                    <span class="contact-nav__subtext">Время работы:</span>
                                    <span class="contact-nav__text">с 8:00 до 20:00</span>
                                </div>

                            </div>
                        </li>
                        <li class="contact-nav__item">
                            <div class="contact-nav__wrap">
                                <div class="contact-nav__img-wrap">
                                    <div class="contact-nav__img">
                                        <img src="assets/images/sms.svg" alt="">
                                    </div>
                                </div>
                                <div class="contact-nav__col">
                                    <span class="contact-nav__subtext">E-mail:</span>
                                    <a href="mailto:example@mail.ru"
                                        class="contact-nav__link contact-nav__text">example@mail.ru</a>
                                </div>

                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="contact__cart">
        <div style="position:relative;overflow:hidden;"><a
                href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps"
                style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a
                href="https://yandex.ru/maps/213/moscow/geo/tverskaya_ulitsa/8059916/?ll=37.605957%2C55.763293&utm_medium=mapframe&utm_source=maps&z=15.2"
                style="color:#eee;font-size:12px;position:absolute;top:14px;">Тверская улица —
                Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU5z4xQLB" frameborder="1"
                allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
</section>