<section class="video-sections">
    <div class="container">
        <div class="video">
            <div class="video__wrap">
                <div class="video__control">
                    <div class="video__player">
                        <div class="video__img">
                            <img src="assets/images/com.jpg" alt="" loading="lazy">
                        </div>
                    </div>
                    <div class="video__btn-wrap">
                        <button type="button" class="video-btn js-modal-open"
                            data-src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"></button>
                    </div>

                </div>
            </div>
        </div>
        <div class=" modal js-modal">
            <div class="modal__bg "></div>
            <div class="modal__content">
                <video src="" controls="controls" playsinline poster="
                assets/images/com.jpg"></video>
                <div class="js-modal-close"></div>
            </div>
        </div>
    </div>
</section>