<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="17" y="9" width="12" height="2" transform="rotate(135 17 9)" fill="white"/>
<rect x="8.51465" y="17.4854" width="12" height="2" transform="rotate(-135 8.51465 17.4854)" fill="white"/>
</svg>
