<section class="services-sections">
    <div class="container">
        <div class="services-container">
            <span class="section-title min-weight-text">Предоставляемые </span>
            <span class="section-title ">услуги</span>
        </div>
        <div class="cases-container">
            <div class="services-button-next"></div>
            <div class="services-button-prev"></div>
        </div>
        <div class="services-wrap">
            <div class="swiper swiper-services js-services">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="services">
                            <div class="services__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                                <div class="services__col">
                                    <span class="services__title">Строка названия услуги</span>
                                    <span class="services__text">от 2600 ₽</span>
                                    <div class="services-btn">
                                        <a href="#" class="services__link">Подробнее...</a>
                                        <button type="button" class="btn primary js-show-popup"
                                            data-trigger="open-popup">ЗАКАЗАТЬ
                                            УСЛУГУ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services">
                            <div class="services__wrap" style="background-image: url('assets/images/bg-2.jpg');">
                                <div class="services__col">
                                    <span class="services__title">Строка названия услуги</span>
                                    <span class="services__text">от 2600 ₽</span>
                                    <div class="services-btn">
                                        <a href="#" class="services__link">Подробнее...</a>
                                        <button type="button" class="btn primary js-show-popup"
                                            data-trigger="open-popup">ЗАКАЗАТЬ
                                            УСЛУГУ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="services">
                            <div class="services__wrap" style="background-image: url('assets/images/bg-3.jpg');">
                                <div class="services__col">
                                    <span class="services__title">Строка названия услуги</span>
                                    <span class="services__text">от 2600 ₽</span>
                                    <div class="services-btn">
                                        <a href="#" class="services__link">Подробнее...</a>
                                        <button type="button" class="btn primary js-show-popup"
                                            data-trigger="open-popup">ЗАКАЗАТЬ
                                            УСЛУГУ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>