<section class="work-sections">
    <div class="container">
        <h2 class="section-title">Этапы работы</h2>
        <div class="work-wrap">
            <div class="work">
                <div class="work__wra">
                    <div class="work__number">
                       <span class="work__title">01</span>
                    </div>
                    <div class="work__col">
                        <div class="work__text base-text">Акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины</div>
                    </div>
                </div>
            </div>

            <div class="work">
                <div class="work__wra">
                    <div class="work__number">
                        <span class="work__title">02</span>
                    </div>
                    <div class="work__col">
                        <div class="work__text base-text">И нет сомнений, что сторонники тоталитаризма в науке своевременно верифицированы</div>
                    </div>
                </div>
            </div>


            <div class="work">
                <div class="work__wra">
                    <div class="work__number">
                        <span class="work__title">03</span>
                    </div>
                    <div class="work__col">
                        <div class="work__text base-text">Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности</div>
                    </div>
                </div>
            </div>

            <div class="work">
                <div class="work__wra">
                    <div class="work__number">
                        <span class="work__title">04</span>
                    </div>
                    <div class="work__col">
                        <div class="work__text base-text">Акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>