<section class="questions-sections">
    <div class="container">
        <h2 class="section-title">Часто задаваемые вопросы</h2>
        @@include('../components/accordion.html')
    </div>
</section>