.accordion-wrap {
  margin-bottom: 20px;
}

.accordion {
  & + & {
    margin-top: 10px;
  }

  &__head {
    display: flex;
    justify-content: space-between;

    &:hover {
      .accordion__icon {
        background-color: $text-color;
      }
      svg {
        rect {
          fill: $white;
        }
      }
    }

    &.active {
      background-color: $bg-cases;

      .accordion__icon {
        svg {
          transform: rotate(180deg);
        }
      }

      & + .accordion__content {
        max-height: 1000px;
      }
    }

    .accordion__title {
      margin-bottom: 0;

      &:hover {
        background-color: $bg-cases;
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border: 2px solid $text-color;
    border-radius: 50%;
    background-color: transparent;
    transition: $base-transition;
    flex: none;
    margin-left: 1.5rem;

    svg {
      width: 100%;
      display: block;

      rect {
        fill: $text-color;
      }
    }
    svg {
      transition: $base-transition;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-cases;
    padding: 1.6rem 3rem 1.8rem;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: $base-color;
    @media (min-width: 480px) {
      padding: 3.6rem 7rem 2.8rem;
      font-size: 18px;
    }
    @media (min-width: 700px) {
      line-height: 356%;
    }
  }
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;
    background-color: $bg-cases;
    width: calc(100% - 4px);
    margin: 0 auto;
  }

  &__descr {
    padding: 0 30px 20px;
    @media (min-width: 480px) {
      padding: 0 70px 40px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: $text-color-two;
  }
}
