.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  color: $white;
  padding: 3.5rem 4.1rem;
  transition: $base-transition;

  &.primary {
    max-width: 34.2rem;
    height: 4rem;
    background-image: $base-btn;
    transition: $base-transition;
    @include media('>=tablet') {
      height: 8.6rem;
    }

    &:hover {
      background-image: $hover-btn;
    }
    &:focus {
      background-image: $focus-btn;
    }
  }

  &.secondary {
  }

  &.tertiary {
  }

  &.disabled {
  }
}
