.crumbs {
  position: relative;
  margin-bottom: 1.5rem;
  @media (min-width: 768px) {
    margin-bottom: 3.8rem;
  }
  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    color: $text-color;
    position: relative;

    &:last-child {
      margin-left: 2rem;
      color: $white;

      &::before {
        content: '';
        position: absolute;
        border-right: 1px solid #827cfc;
        height: 1.8rem;
        left: -1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
