.form {
  padding: 4.1rem 2rem;
  @media (min-width: 992px) {
    padding: 4.1rem 0;
  }

  &--popup {
    padding: 0;
    width: 100%;
    .form__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 100%;
    }
    .form__label {
      background-color: $form-color;
      color: $white;
    }
    .form__field {
      max-width: 100%;
    }
    .form__input {
      background-color: transparent !important;
      max-width: 100%;
    }

    .form__btn {
      width: 100%;
      .primary {
        max-width: 100%;
      }
    }
    .form__text {
      color: $white;
    }
  }

  &__wrap {
    max-width: 34.2rem;
    width: 100%;
  }

  &__field {
    position: relative;
    border: 1px solid $border-color;
    max-width: 34.2rem;
    width: 100%;
    min-height: 8.6rem;
    margin-bottom: 3.6rem;
  }
  &__label {
    position: absolute;
    background-color: $white;
    left: 3rem;
    top: -1.6rem;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    color: $base-color;
    padding: 0.8rem 1rem;
    @media(min-width:380px){
        font-size: 16px; 
    }
  }

  &__input {
    border: none !important;
    padding: 3.3rem 3rem !important;
    width: 100%;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 114%;
    color: $border-color !important;
    height: 8.6rem;

    &::placeholder {
      color: $border-color !important;
    }
  }
  &__textarea {
    border: none !important;
    padding: 3rem 3rem !important;
    width: 100%;
    min-height: 10.7rem;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 114%;
    color: $border-color !important;

    &::placeholder {
      color: $border-color !important;
    }
  }
  &__btn {
    margin-bottom: 1.4rem;
  }
  &__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    color: $base-color;
  }
  &__link {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    color: $text-color;
  }
}
.mb-18 {
  margin-bottom: 1.8rem;
}
