.js-modal-open {
  padding: 15px;
  text-align: center;
  border: solid 1px #555;
  margin-bottom: 20px;
  cursor: pointer;
}
.js-modal-open:hover {
  background: #f3f3f3;
}

.modal {
  display: none;
  height: 100%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 2rem;
}
.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.modal__content {
  background-repeat: no-repeat;
  background-size: cover;
  left: 50%;
  top:0;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  padding: 2rem;

  @media (min-width: 1024px) {
    max-width: 110rem;
   
  }
}
.modal__content {
  font-size: 13px;
  cursor: pointer;
}

.js-modal-close {
  position: absolute;
  @include background-svg(
    '<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>'
  );
  background-repeat: no-repeat;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
  top: 30%;
  right: 0;
  cursor: pointer;
  @media (min-width: 1024px) {
    top: 20px;
    right: 20px;
  }
}

.modal__content video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%,);
  top: 0;
  width: 100%;
  min-height: 100%;
}
