.pagination {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
  

    & + & {
      margin-left: 2.4rem;
    }
    &.active {
      color: $text-color;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 24px;
    line-height: 208%;
    color: $color-btn;

    &:hover {
      color: $text-color;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  .btn-pagination-next,
  .btn-pagination-prev {
    width: 2.2rem;
    height: 2.2rem;
    padding: 3.3rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid $color-btn;
    transition: $base-transition;
    margin: 0 3.5rem;
  }

  .btn-pagination-next {
    background-image: url('../images/arrow2.png');
    background-color: $color-btn;

    &:hover {
      background-color: $white;
      background-image: url('../images/arrow4.png');
    }
  }

  .btn-pagination-prev {
    background-image: url('../images/arrow.png');

    &:hover {
      background-image: url('../images/arrow3.png');
      background-color: $color-btn;
    }
  }
}
