.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease;
  display: none;
  &.active {
    display: flex !important;
  }
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  padding: 0 15px;
  width: 100%;
  transition: opacity 0.5s ease;
  display: none;

  @include media('>=tablet') {
    max-width: 522px;
  }

  &.active {
    display: block;
    z-index: 101;
    transition: opacity 0.5s ease;
  }
  &__wrap {
    background-color: $form-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4rem;
    min-height: 220px;
    @include media('>=tablet') {
      min-height: 380px;
      padding: 7.3rem 7.5rem 8rem;
    }
  }
  &__close {
    position: absolute;
    right: 39px;
    top: 13px;
    width: 2rem;
    height: 2rem;
    z-index: 999;
    @include media('>=tablet') {
      right: 49px;
      top: 23px;
    }
    &:before,
    &:after {
      position: absolute;
      left: 1rem;
      top: 0;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: $white;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
