.table {
    padding: 0 0 5rem;
  @media (min-width: 1150px) {
    padding: 0 0 10rem;
  }
  width: 100%;

  &__scroll {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 2.9rem 6rem;
    background-color: #f7f7f9;

    &:nth-child(2n) {
      background-color: #f1f1f5;
    }

    &--head {
      align-items: center;
      justify-content: flex-start;
      background-color: $form-color;
      padding: 2.9rem 6rem;
      margin-bottom: 0;
      min-width: 31rem;
      min-width: 115rem;
      @media (min-width: 1150px) {
        width: 100%;
      }

      .table__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 120.2%;
        color: $white;
      }
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    position: relative;
    justify-content: flex-end;
    padding-right: 1rem;
    @media (min-width: 570px) {
      padding-right: 1.5rem;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
    min-width: 115rem;
    @media (min-width: 1150px) {
      width: 100%;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 154.2%;
    color: $base-color;
    @media (min-width: 570px) {
      font-size: 16px;
    }
  }
}
