<section class="company-sections">
    <div class="company">
        <div class="company__wrap">
            <div class="company__col">
                <div class="company__img" style="background-image: url('assets/images/com.jpg');">
                    <!-- <img src="assets/images/com.jpg" alt=""> -->
                </div>
            </div>
            <div class="company__col">
                <span class="company__subtitle">Здесь что-то будет</span>
                <h2 class="company__title">Коротко о компании</h2>
                <p class="company__text base-text">Уверенно шагая в будущее компания DreamCar вот уже больше 4 лет
                    успешно
                    сотрудничает с аукционами в Америке и занимается доставкой автомобилей в Украину. За время работы мы
                    стали одними из лучших компаний-поставщиков на територии СНГ, об этом свидетельствует большой выбор
                    электрокаров и доверие клиентов.</p>
                <p class="company__text base-text">Благодаря налаженным связям с американскими партнерами каждая сделка
                    с украинским клиентом проход в
                    оговоренные сроки и без скрытых оплат.</p>
                <p class="company__text base-text">
                    Мы всегда рады помочь, проконсультировать и направить в правильное русло нашего клиента или
                    человека, который только заинтересовался машинами будущего.
                </p>
            </div>
        </div>
    </div>
</section>