<section class="professionals-sections">
    <div class="container">
        <h2 class="section-title"><span class="min-weight-text">Наша команда </span>профессионалов</h2>
        <div class="cases-container">
            <div class="professionals-button-next"></div>
            <div class="professionals-button-prev"></div>
        </div>
        <div class="professionals-wrap">
            <div class="swiper swiper-professionals js-professionals">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="professionals">
                            <div class="professionals__wra">
                                <div class="professionals__img">
                                    <img src="assets/images/pp.jpg" alt="">
                                </div>
                                <div class="professionals__col">
                                    <div class="professionals__title">Гланвый менеджер</div>
                                    <div class="professionals__text">Андрей Гаврилов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="professionals">
                            <div class="professionals__wra">
                                <div class="professionals__img">
                                    <img src="assets/images/pp2.jpg" alt="">
                                </div>
                                <div class="professionals__col">
                                    <div class="professionals__title">Гланвый менеджер</div>
                                    <div class="professionals__text">Андрей Гаврилов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="professionals">
                            <div class="professionals__wra">
                                <div class="professionals__img">
                                    <img src="assets/images/pp3.jpg" alt="">
                                </div>
                                <div class="professionals__col">
                                    <div class="professionals__title">Гланвый менеджер</div>
                                    <div class="professionals__text">Андрей Гаврилов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="professionals">
                            <div class="professionals__wra">
                                <div class="professionals__img">
                                    <img src="assets/images/pp4.jpg" alt="">
                                </div>
                                <div class="professionals__col">
                                    <div class="professionals__title">Гланвый менеджер</div>
                                    <div class="professionals__text">Андрей Гаврилов</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>