.about-sections {
  background-image: url('../images/bg-a.jpg');
  background-repeat: no-repeat;
  background-position: 100% 24%;
  background-size: cover;
  padding: 11rem 0 3rem;
  position: relative;
  z-index: 2;
  @media (min-width: 768px) {
    padding: 30.6rem 0 9.1rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e0e24;
    opacity: 0.72;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .container{
      position: relative;
      z-index: 2;
  }
  .section-title{
      color: $white;
  }
}
