.advantages-sections {
    padding: 3rem 0;
  @include media('>=tablet-lg') {
    padding: 12rem 0;
  }
}
.advantages-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3.3rem -3rem;
}

.advantages {
  width: 100%;
  padding: 0 3.3rem 3rem;
  min-height: 100%;
  @include media('>=phone-lg') {
    width: 50%;
  }
  @include media('>=desktop') {
    width: 25%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 6rem;
    height: 6rem;
    margin-bottom: 3.9rem;

    img {
      width: 100%;
      display: block;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 108.3%;
    color: $base-color;
    display: block;
    margin-bottom: 3rem;
  }
  &__text {
    font-size: 16px;
    line-height: 162%;
    color: $base-color;
  }
}
