.ask-sections {
  .section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    color: $white;
    @include media('>=tablet-lg') {
      margin-bottom: 3.6rem;
      font-size: 3.6rem;
    }
  }
}

.ask-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5rem -3rem;
}
.ask {
  width: 100%;
  padding: 0 5rem 3rem;
  @include media('>=tablet-lg') {
    width: 50%;
  }
  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $form-color;
    padding: 3rem 2rem;
    @media (min-width: 500px) {
      padding: 9.1rem 8.1rem;
    }
  }

  &__text {
    display: block;
    margin-bottom: 3.2rem;
    font-size: 16px;
    line-height: 162%;
    color: $white;
  }

  &__col-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    @media (min-width: 500px) {
      flex-direction: row;
    }
  }

  &__img {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    flex: none;
    @media (min-width: 500px) {
      margin-right: 3.6rem;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      display: block;
      object-fit: cover;
      height: 100%;
    }
  }
  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 500px) {
      align-items: flex-start;
    }
  }
  &__name {
    font-weight: 500;
    font-size: 14px;
    color: $white;
    margin-bottom: 2rem;
    @media (min-width: 500px) {
      margin-bottom: 0;
      line-height: 457%;
    }
  }
  &__pos {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2rem;
    color: $text-color;
    @media (min-width: 500px) {
      margin-bottom: 0;
      line-height: 171%;
    }
  }
}
