.card-sections {
  padding: 5rem 0;
  background-color: #f7f7f9;
  @media (min-width: 768px) {
    padding: 12rem 0 10rem;
  }

  .pagination{
      margin-top: 10rem;
  }
}
.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;
}

.card {
  min-height: 100%;
  width: 100%;
  padding: 0 1.5rem 3rem;
  @media (min-width: 768px) {
    width: 50%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $white;
    padding: 6.8rem 6.3rem 8rem;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    flex-direction: column;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__col {
    text-align: center;
    @media (min-width: 1024px) {
      text-align: left;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 17.4rem;
    height: 16.4rem;
    margin-bottom: 1.5rem;
    flex: none;
    @media (min-width: 1024px) {
      margin-right: 2.9rem;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    color: $base-color;
    @media (min-width: 1200px) {
      line-height: 457%;
    }
  }
  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    color: $text-color;
    @media (min-width: 1200px) {
      line-height: 356%;
    }
  }

  &__text-wrap {
    margin-bottom: 1rem;
    @media (min-width: 1200px) {
      margin-bottom: 0.2rem;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: $text-color-two;
  }

  &__subtext {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: $base-color;
  }
  &__text-wraper {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: $base-color;
    margin-bottom: 1.5rem;
    @media (min-width: 1200px) {
      line-height: 356%;
      margin-bottom: 0;
    }
  }

  &__subinfo {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: $text-color-two;
  }
}
