.cases-sections {
 padding: 5rem 0;
  background-color: $bg-cases;
  @include media('>=tablet') {
    padding: 12rem 0 10rem;
  }

  .section-title {
      margin-bottom: 4rem;
    @media (min-width: 560px) {
    margin-bottom: 7.5rem;
    }
  }
  .container {
    position: relative;
  }
}

.cases {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 4rem;
    background-color: $white;
    @media (min-width: 552px) {
      padding: 6.8rem 6.3rem 8rem;
      align-items: flex-start;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.4rem;
    @media (min-width: 552px) {
      flex-direction: row;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__text-wraper {
    display: flex;
    flex-direction: column;
    margin-top: 0.7rem;
    padding-top: 0.9rem;
    border-top: 1px solid $bg-cases;
  }

  &__title {
    font-weight: 500;
    font-size: 14px;
    color: $base-color;
    @media (min-width: 552px) {
      line-height: 457%;
    }
  }
  &__subtitle {
    font-size: 1.8rem;
    color: $text-color;
    font-weight: 700;
    margin-left: 0.8rem;
  }

  &__img {
    width: 16rem;
    height: 16rem;
    flex: none;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 2rem;
    @media (min-width: 552px) {
      margin-right: 2.9rem;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: $text-color-two;
  }
  &__subtext {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-transform: uppercase;
    color: $base-color;
  }

  &__info {
    font-weight: bold;
    font-size: 18px;
    color: $base-color;
    margin-bottom: 0.2rem;
    @media (min-width: 552px) {
      line-height: 356%;
    }
  }

  &__subinfo {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: $text-color-two;
  }
}
