.company-sections {
  background-color: #393949;
}

.company {
  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    @include media('>=desktop') {
      flex-direction: row;
    }
  }

  &__col {
    width: 100%;
    @include media('>=desktop') {
      width: 50%;
    }

    &:last-child {
      padding: 2rem 2rem ;
      @include media('>=desktop') {
        padding: 0 8.1rem 0;
      }
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    @media(min-width:1024px) {
        background-position: right center;
        display: block;
        min-height: 157vh;
        width: 100%;
    }
    @media(min-width: 1195px) {
        min-height: 125vh;
     
      @media(min-width: 1595px) {
        min-height: 100vh;
      }
    }
    // display: flex;
    // align-items: center;
    // width: 100%;
    // height: 100%;
    // flex: none;

    // img {
    //   width: 100%;
    //   display: block;
    //   object-fit: cover;
    //   height: 100%;
    // }
  }
  &__subtitle {
    font-size: 1.6rem;
    color: $text-color;
    line-height: 108.3%;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 108.3%;
    color: $white;
    margin-bottom: 2rem;
    @include media('>=tablet') {
      font-size: 3.6rem;
      margin-bottom: 3.6rem;
    }
  }

  &__text {
    margin-bottom: 2rem;
    @include media('>=tablet') {
      margin-bottom: 4rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
