.contact-info-sections {
  position: relative;
  @media (min-width: 1400px) {
    padding: 0 0 12rem;
  }
}

.contact {
  &__wrap {
    display: flex;
    align-items: center;
  }
}
.contact-nav {
  padding: 7.7rem 0 0 0;
  &__subtitle {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 108.3%;
    text-transform: uppercase;
    color: $text-color;
    margin-bottom: 1.6rem;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 108.3%;
    color: $base-color;
    margin-bottom: 4.8rem;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 148.3%;
    color: $text-color-two;
    display: block;
    margin-bottom: 0.4rem;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 148.3%;
    color: $base-color;
  }

  &__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    background-color: $text-color;
    margin-right: 3rem;
    flex: none;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;

    img {
      width: 100%;
      display: block;
    }
  }
}

.contact__cart {
  width: 100%;
  @media (min-width: 1400px) {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 96rem;
  }
  iframe {
    display: block;
    height: 61rem;
    width: 100%;
    border: none;
  }
}
