.gallery-sections {
  padding: 0 0 5rem;
  position: relative;
  @include media('>=tablet') {
    padding: 0 0 12rem;
  }
  .section-title {
    text-align: center;
    margin-bottom: 5.5rem;
    @media (min-width: 570px) {
      margin-bottom: 7.4rem;
    }
  }
}

.gallery {
  @media (min-width: 570px) {
    min-height: 25.2rem;
  }
  &__wrap {
    @media (min-width: 570px) {
      height: 25.2rem;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: move;

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }
}
