.info-sections {
  padding: 4rem 0 3rem;
  @media (min-width: 768px) {
    padding: 9rem 0 6rem;
  }
}
.info2-sections {
  padding: 0 0 3rem;
  @media (min-width: 768px) {
    padding: 0 0 6.2rem;
  }
}
.info3-sections {
  padding: 0 0 3rem;
  @media (min-width: 768px) {
    padding: 0 0 4.8rem;
  }
}
.info4-sections {
  padding: 0 0 3rem;
  @media (min-width: 768px) {
    padding: 0 0 8rem;
  }
}
.info5-sections{
    padding: 0 0 5rem;
  @media (min-width: 768px) {
    padding: 0 0 10rem;
  }
}

.info2 {
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;

    @media (min-width: 1024px) {
      margin-right: 8.1rem;
      width: 96rem;
      height: 61rem;
    }

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }
  .typography {
    padding: 2rem;
    @media (min-width: 1024px) {
      padding: 0;
      max-width: 58.8rem;
      width: 100%;
    }
  }
}

.info4 {
  ul {
    list-style: square outside;
    margin-bottom: 4.8rem;
  }
  li {
    &::marker {
      background-color: $text-color;
      color: $text-color;
    }
  }
  p {
    margin: 0;
  }
  .link{
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    color: #3734DC;
  }
}
