.intro-sections {
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  min-height: 75vh;
  padding: 10rem 0 5rem;
  @include media('>=tablet') {
    min-height: 90vh;
    padding: 35.6rem 0 20rem;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e0e24;
    opacity: 0.24;
    top: 0;
    left: 0;
  }
  .container {
    position: relative;
    z-index: 100;
  }
  .intro-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    @include media('>=tablet') {
      max-width: 88.2rem;
      margin-bottom: 4.8rem;
    }
  }
  .base-text {
    width: 100%;
    margin-bottom: 2rem;
    @include media('>=tablet') {
      max-width: 65.6rem;
      margin-bottom: 7.6rem;
    }
  }
}
