.new-two-sections {
  padding: 5rem 0;
  @media (min-width: 768px) {
    padding: 12rem 0;
  }

  .news-wrap {
    margin-bottom: 5rem;
    @media (min-width: 768px) {
      margin-bottom: 10rem;
    }
  }
}
