.news-sections {
  padding: 0 0 5rem;
  @include media('>=tablet') {
    padding: 0 0 12rem;
  }

  .section-title {
    margin-bottom: 2rem;
    @include media('>=tablet') {
      margin-bottom: 7.4rem;
    }
  }
}

.news-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;
}

.news {
  width: 100%;
  padding: 0 1.5rem 3rem;
  min-height: 100%;
  @include media('>=phone-lg') {
    width: 50%;
  }
  @include media('>=desktop') {
    width: 25%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__img {
    display: flex;
    align-items: center;
    min-height: 21.1rem;
    margin-bottom: 2.7rem;

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }

  &__title {
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: $base-color;
    font-weight: 700;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 157%;
    color: $text-color;
    margin-right: 1rem;
  }

  &__subtext {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 183%;
    color: $base-color;
  }
  .news-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.2rem;

    .primary {
      width: 19rem;
      height: 5.6rem;
      padding: 1.5rem 1.1rem;
    }
  }
  
}
.new-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }

  .new-link{
      font-size: 1.6rem;
      font-weight: 700;
      color: $text-color;
      border: 2px solid $text-color;
      padding: 1.5rem 2rem;
      transition: $base-transition;

      &:hover{
          opacity: .7;
      }
  }