.photo-sections{
    padding: 0 0 5rem;
    position: relative;
    @media(min-width: 768px){
        padding: 0 0 12rem;
    }
   

    .photo-wrap{
        margin-bottom: 5rem;
        @media(min-width: 768px){
            margin-bottom: 10rem;
        }
        
    }
}