.professionals-sections {
  padding: 5rem 0;
  @media (min-width: 768px) {
    padding: 11.4rem 0 12rem;
  }

  .section-title {
    text-align: left;
    margin-bottom:5.5rem;
    @media (min-width: 768px) {
      margin-bottom: 7.4rem;
      text-align: center;
    }
  }
  .container{
      position: relative;
  }
}



.professionals {

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: block;
   

    img {
      width: 100%;
      display: block;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $base-color;
    padding: 2.2rem;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 148.3%;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 0.4rem;
  }
  &__text {
    font-size: 16px;
    line-height: 148.3%;
    color: $text-color;
  }
}
