.questions-sections {
  padding: 5rem 0;
  @media (min-width: 768px) {
    padding: 12rem 0;
  }

  .section-title {
      margin-bottom: 4rem;
    @media (min-width: 768px) {
      margin-bottom: 7.4rem;
    }
  }
}
