.repeat-sections {
  position: relative;
}

.repeat {
  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__col {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    @media (min-width: 1525px) {
      flex-direction: row;
      align-items: center;
    }

    &:last-child {
      flex-direction: column;
      @media (min-width: 1525px) {
        flex-direction: row-reverse;
      }

      .repeat__info {
        padding: 0rem 2rem 2rem 2rem;
        @media (min-width: 1024px) {
          margin-right: 8.3rem;
        }
      }
    }
  }

  &__img {
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media (min-width: 1525px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 80vh;
    }
    @media (min-width: 1920px) {
      height: 100vh;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;

    @media (min-width: 1525px) {
      max-width: 76.8rem;
    }
    @media (min-width: 1920px) {
      padding: 3.5rem 0 0rem 8.3rem;
      max-width: 58.8rem;
    }
  }

  &__subtitle {
    display: block;
    margin-bottom: 1.6rem;
    font-weight: 600;
    font-size: 16px;
    line-height: 108.3%;
    text-transform: uppercase;
    color: $text-color;
  }

  &__title {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 26px;
    line-height: 108.3%;
    color: $base-color;
    @media (min-width: 768px) {
      font-size: 36px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 3.6rem;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 162%;
    color: $base-color;

    & + & {
      margin-top: 1.5rem;
      @media (min-width: 1920px) {
        margin-top: 4rem;
      }
    }
  }
}
