.services-sections {
    padding: 0 0 5rem;
  @include media('>=tablet') {
    padding: 0 0 12rem;
  }

  .services-container {
    display: flex;
    align-items: center;
    margin-bottom: 5.5rem;
    @include media('>=tablet') {
      margin-bottom: 7.4rem;
    }
  }
  .min-weight-text {
      margin-right: .5rem;
    @include media('>=tablet') {
    margin-right: 1.6rem;
    }
  }
  .container{
    position: relative;
  }
}


.services {
  &__wrap {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 3.6rem 3.6rem 3.6rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      top: 0;
      left: 0;
    }
  }
  &__col {
    position: relative;
    z-index: 1;
  }

  &__title {
    display: block;
    margin-bottom: 0.7rem;
    font-weight: 700;
    font-size: 24px;
    color: $white;
  }
  &__text {
    display: block;
    margin-bottom: 1.8rem;
    font-weight: 500;
    font-size: 24px;
    color: $white;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    color: $text-color;
    margin-right: 1rem;
  }
  .services-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .primary {
      width: 19rem;
      height: 5.6rem;
      padding: 1.5rem 1.1rem;
    }
  }
}
