.services-page-card {
  padding: 4rem 0;
  @media (min-width: 768px) {
    padding: 12rem 0;
  }
}

.services-page-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;
}

.services-page {
  width: 100%;
  padding: 0 1.5rem 3rem;
  @media (min-width: 768px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 33.33%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 3.6rem 3.6rem 3.6rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      top: 0;
      left: 0;
    }
  }
  &__col {
    position: relative;
    z-index: 1;
  }

  &__title {
    display: block;
    margin-bottom: 0.7rem;
    font-weight: 700;
    font-size: 24px;
    color: $white;
  }
  &__text {
    display: block;
    margin-bottom: 1.8rem;
    font-weight: 500;
    font-size: 24px;
    color: $white;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 114%;
    color: $text-color;
    margin-right: 1rem;
  }
  .services-page-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .primary {
      width: 19rem;
      height: 5.6rem;
      padding: 1.5rem 1.1rem;
    }
  }
}
