.trust-sections {
  padding: 0 0 5rem;
  @include media('>=tablet') {
    padding: 0 0 12rem;
  }

  .section-title {
    margin-bottom: 2rem;
    text-align: center;
    @include media('>=tablet') {
      margin-bottom: 7.4rem;
    }
  }
}

.trust-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7rem -3.5rem;
}

.trust {
  width: 100%;
  padding: 0 7rem 3.5rem;
  min-height: 100%;
  @include media('>=phone-lg') {
    width: 50%;
  }
  @include media('>=tablet') {
    width: 33.33%;
  }
  @include media('>=desktop') {
    width: 25%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  &__img {
    display: flex;
    align-items: center;
    min-height: 6rem;

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }
}
