.video-sections {
  padding: 0 0 5rem;
  position: relative;
  @include media('>=tablet-lg') {
    padding: 0 0 12rem;
  }
}

.video {
  &__wrap {
    display: flex;
    justify-content: center;
  }
  &__control {
    position: relative;
  }
  &__btn-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 1px solid $white;
    @media(min-width:400px){
        width: 22rem;
        height: 22rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
      border: 1px solid $white;
      @media(min-width:400px){
        width: 18rem;
        height: 18rem;
      }
    }
  }
  .video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: $white;
    border: none;
    @media(min-width:400px){
        width: 14rem;
        height: 14rem;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      width: 4.2rem;
      height: 3.6rem;
      background-color: $footer-text;
      border: none;
      clip-path: polygon(0 100%, 0 0, 84% 50%);
    }
  }
  &__img {
    max-width: 110rem;
    width: 100%;
  }
}
