.work-sections {
  padding: 0 0 5rem;
  @media (min-width: 768px) {
    padding: 0 0 12rem;
  }

  .section-title {
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 8.1rem;
    }
  }
}

.work-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;
}

.work {
  width: 100%;
  min-height: 100%;
  padding: 0 1.5rem 3rem;
  @media (min-width: 550px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 25%;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text-color;
    padding: 0.3rem;
    width: 7rem;
    height: 6.5rem;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      margin-bottom: 6rem;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 213%;
    color: $white;
  }

  &__text {
    color: $base-color;
  }
}
