<section class="photo-sections">
    <div class="photo-wrap">
        <div class="swiper swiper-photo js-photo">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('../components/pagination.html')
</section>