// This is base reset for form elements
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid $border;
  font-family: $primary-font;
  padding: 1rem 1.5rem;

  &::placeholder {
    transition: $base-transition;
  }

  &:focus {
    border-color: $black;
  }

  @include placeholder {
    color: $black;
  }
}

textarea {
  resize: vertical;
  vertical-align: top;
  border: none;
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  font-family: $primary-font;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: $base-transition;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: $base-transition;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;

  &:focus {
    background-color: $focus-btn;
  }
}

// RESET INPUTS STYLES

// input type search remove clear button
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

// Number remove arrow
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// hide placeholder on focus
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder {
  color: transparent;
}
input:focus::placeholder {
  color: transparent;
}
