.main-title {
  font-size: 2.5rem;
  font-weight: 500;
  color: $white;
  line-height: 133%;
  @include media('>=tablet') {
    font-size: 4.8rem;
  }
}
.main-color {
  color: $text-color;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 133%;
  @include media('>=tablet') {
    font-size: 4.8rem;
  }
}

.base-text {
  font-size: 16px;
  line-height: 162%;
  color: $white;
}

.min-weight-text {
  font-weight: 400;
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-weight: 700;
    font-size: 36px;
    color: $base-color;
    margin-bottom: 2.9rem;
  }
  h3 {
    font-weight: 700;
    font-size: 30px;
    color: $base-color;
    margin-bottom: 3rem;
  }

  h4 {
    font-size: 24px;
    color: $base-color;
    margin-bottom: 1.9rem;
  }

  p {
    font-size: 16px;
    line-height: 162%;
    color: $base-color;
    margin-bottom: 3.9rem;
  }
  ul {
    ol,
    li {
      font-size: 16px;
      line-height: 162%;
      color: $base-color;
      margin-bottom: 1.2rem;
    }
  }
  span {
    display: block;
    font-size: 16px;
    line-height: 162%;
    color: $base-color;
    margin-bottom: 1.2rem;
  }
}
