<div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">
        <video src="" controls playsinline></video>
        <span class="js-modal-close">× close</span>
    </div>
</div>