<div class="pagination myPages">
    <div class="pagination__wrap">
        <div class="pagination__btn">
            <a href="" class="btn-pagination-prev"></a>
        </div>
        <ul class="pagination__list">
            <li class="pagination__item">
                <a href="#" class="pagination__link">1</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">2</a>
            </li>
            <li class="pagination__item">
                <a href="#" class="pagination__link">3</a>
            </li>
        </ul>

        <div class="pagination__btn">
            <a href="" class="btn-pagination-next"></a>
        </div>
    </div>
</div>