<div class="overlay js-overlay"></div>
<div class="popup" data-popup="open-popup">
    <button type="button" class="popup__close js-popup-close"></button>
    <div class="popup__wrap">
        <form method="POST" class="form form--popup">
            <div class="form__wrap">
                <div class="form__field">
                    <div class="form__label">Введите имя и фамилию</div>
                    <input type="text" name="text" placeholder="Имя Фамилия" class="form__input">
                </div>
                <div class="form__field">
                    <div class="form__label">Введите номер телефона</div>
                    <input type="text" name="text" placeholder="+7 (___) ___+__+__" class="form__input tel">
                </div>

                <div class="form__btn">
                    <button type="submit" class="btn primary">узнать стоимость</button>
                </div>

                <div class="form__dan">
                    <span class="form__text">Нажимая на кнопку «Заказать звонок», вы подтверждаете свое согласие
                        на
                        <a href="#" class="form__link"> обработку персональных
                            данных</a>
                    </span>

                </div>
            </div>
        </form>
    </div>
</div>