<div class="container">
    <div class="table">
        <div class="table__wrap">
            <div class="table__scroll">
                <div class="table__row table__row--head">
                    <div class="table__col">
                        <span class="table__title">Место для заголовка здесь</span>
                    </div>
                    <div class="table__col">
                        <span class="table__title">Пункт</span>
                    </div>
                    <div class="table__col">
                        <span class="table__title">Пункт</span>
                    </div>
                    <div class="table__col">
                        <span class="table__title">Пункт</span>
                    </div>
                </div>
                <div class="table__body">
                    <div class="table__row">
                        <div class="table__col">
                            <span class="table__text">Название будет здесь</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                    </div>

                    <div class="table__row">
                        <div class="table__col">
                            <span class="table__text">Название будет здесь</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                    </div>

                    <div class="table__row">
                        <div class="table__col">
                            <span class="table__text">Название будет здесь</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                    </div>
                    <div class="table__row">
                        <div class="table__col">
                            <span class="table__text">Название будет здесь</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                        <div class="table__col">
                            <span class="table__text">Заголовок</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>