<section class="services-page-card">
    <div class="container">
        <div class="services-page-wrap">
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="services-page">
                <div class="services-page__wrap" style="background-image: url('assets/images/bg-1.jpg');">
                    <div class="services-page__col">
                        <span class="services-page__title">Строка названия услуги</span>
                        <span class="services-page__text">от 2600 ₽</span>
                        <div class="services-page-btn">
                            <a href="#" class="services__link">Подробнее...</a>
                            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">ЗАКАЗАТЬ
                                УСЛУГУ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>