<section class="gallery-sections">
    <h2 class="section-title">Галерея</h2>
    <div class="gallery-wrap">
        <div class="cases-container">
            <div class="gallery-button-next"></div>
            <div class="gallery-button-prev"></div>
        </div>
        <div class="swiper swiper-gallery js-gallery">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com-2.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="gallery">
                        <div class="gallery__wrap">
                            <div class="gallery__img">
                                <a href="assets/images/com.jpg" class="gallery__link"></a>
                                <img data-fancybox="gallery" src="assets/images/com.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>