<section class="advantages-sections">
    <div class="container">
        <div class="advantages-wrap">
            <div class="advantages">
                <div class="advantages__wrap">
                    <div class="advantages__img">
                        <img src="assets/images/k.jpg" alt="">
                    </div>
                    <span class="advantages__title">Низкие цены</span>
                    <span class="advantages__text">Стоимость электромобиля на 40-50% дешевле, чем в Украине</span>
                </div>
            </div>

            <div class="advantages">
                <div class="advantages__wrap">
                    <div class="advantages__img">
                        <img src="assets/images/s.jpg" alt="">
                    </div>
                    <span class="advantages__title">Опыт работы</span>
                    <span class="advantages__text">Опыт работы в данной сфере более 5 лет</span>
                </div>
            </div>

            <div class="advantages">
                <div class="advantages__wrap">
                    <div class="advantages__img">
                        <img src="assets/images/u.jpg" alt="">
                    </div>
                    <span class="advantages__title">Гарантия</span>
                    <span class="advantages__text">Предоставляем гарантию на время осуществления сделки</span>
                </div>
            </div>

            <div class="advantages">
                <div class="advantages__wrap">
                    <div class="advantages__img">
                        <img src="assets/images/c.jpg" alt="">
                    </div>
                    <span class="advantages__title">Соблюдение сроков</span>
                    <span class="advantages__text">Выполнение работы в сроки, прописанные в договоре</span>
                </div>
            </div>
        </div>
    </div>
</section>