// Breakpoints
$breakpoints: (
  'phone-sm': 320px,
  'phone-md': 375px,
  'phone': 480px,
  'phone-lg': 576px,
  'tablet': 768px,
  'tablet-lg': 992px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'widescreen-md': 1360px,
  'widescreen-lg': 1440px,
  'full-hd': 1920px,
);

// Colors
$black: #000000;
$white: #ffffff;
$border: #cccccc;
$success: #28a745;
$warning: #ffc117;
$error: #dc3545;
$base-color: #232323;
$form-color: #393949;
$text-color: #827cfc;
$secondary-color: #adadad;
$bg-cases: #f7f7f9;
$text-color-two:#929292;
$color-btn:#414151;
$border-color:#D9D9D9;
$footer-text:#3734DC;

$base-btn: radial-gradient(76.85% 83.72% at 50% 0%, #827cfc 0%, #3734dc 100%);
$hover-btn: radial-gradient(76.85% 83.72% at 50% 0%, #9792ff 0%, #4844ec 100%);
$focus-btn: radial-gradient(101.94% 111.05% at 50% 0%, #9792ff 0%, #4844ec 100%);

// Fonts
$primary-font: 'Montserrat';
$secondary-font: 'Secondary-Font';

// Other
$base-transition: all 0.3s ease;
