.footer {
  padding: 3.3rem 0;
  background-color: #F7F7F9;
  @media (min-width: 768px) {
    padding: 7.4rem 0 3.3rem;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    @media (min-width: 1024px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__logo {
    display: flex;
    width: 100%;

    margin-bottom: 1.5rem;
    @media (min-width: 425px) {
      max-width: 38.6rem;
      height: 3.4rem;
    }
    @media (min-width: 1024px) {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }

    svg {
      path {
        fill: $footer-text;
      }
    }
  }
  &__logo-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    @media (min-width: 425px) {
      align-items: center;
      flex-direction: row;
    }
  }
  &__logo-subtext {
    display: flex;
    flex-direction: column;
    @media (min-width: 425px) {
      margin-left: 3rem;
    }
  }

  &-logo__subtext {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: $base-color;
  }
}
.footer-nav {
  margin-bottom: 2rem;
  @media (min-width: 1024px) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media (min-width: 630px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__item {
    & + & {
      margin-top: 2.4rem;
      @media (min-width: 630px) {
        margin-top: 0rem;
      }
      @media (min-width: 1024px) {
        margin-top: 2.4rem;
      }
    }
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 114.3%;
    text-align: center;
    color: $base-color;
  }

  .title-color {
    color: $footer-text;
    font-weight: 700;
  }
}

.address {
  margin-bottom: 2rem;
  @media (min-width: 1024px) {
    margin-bottom: 0;
    margin-right: 1.5rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: flex-start;
      width: auto;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    & + & {
      @media (min-width: 630px) {
        margin-left: 1.5rem;
      }
      @media (min-width: 1024px) {
        margin-top: 1.8rem;
      }
    }
  }

  &__title {
    display: block;
    font-size: 1.4rem;
    line-height: 114.3%;
    color: $footer-text;
    font-weight: 700;
    @media (min-width: 1024px) {
      margin-bottom: 0.3rem;
    }
  }

  &__subtext {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 148.3%;
    color: $text-color-two;
    margin-bottom: 0.6rem;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 148.3%;
    color: $base-color;
  }
}

.social {
  margin-bottom: 2rem;
  @media (min-width: 630px) {
    margin-bottom: 0;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @media (min-width: 630px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    @media (min-width: 1024px) {
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: column;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    @media (min-width: 630px) {
      align-items: flex-end;
      margin-bottom: 4.8rem;
    }
  }

  &__link {
    display: flex;
    font-weight: 700;
    font-size: 22px;
    line-height: 148.3%;
    color: $base-color;
    margin-bottom: 0.2rem;
  }

  .logo-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 114.3%;
    color: $text-color;
  }

  &__wraper {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
    background-color: $text-color;
    transition: $base-transition;

    svg {
      width: 100%;
      display: block;
      path {
        fill: $white;
        transition: $base-transition;
      }
    }

    &:hover {
      background-color: rgba($text-color, 0.1);
      svg {
        path {
          fill: $text-color;
        }
      }
    }
  }
  .mr-1 {
    margin-right: 1rem;
  }
}
.footer-none {
  display: none;
  @media (min-width: 630px) {
    display: flex;
  }
}

.copyright {
  padding-top: 3.3rem;
  border-top: 1px solid $border-color;
  margin-top: 2rem;
  @media (min-width: 768px) {
    margin-top: 10rem;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 330px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-size: 12px;
    line-height: 117%;
    color: $text-color-two;
    @media (min-width: 330px) {
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
  &__politika {
    font-size: 12px;
    line-height: 117%;
    text-decoration-line: underline;
    color: $footer-text;
  }
}
