.header {
  padding: 1.9rem 0 0;
  @include media('>=tablet') {
    padding: 3.9rem 0 0;
  }
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  transition: $base-transition;
}

.nav {
  margin: 0 auto;
  position: absolute;
  top: 55px;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 16px 20px 16px;
  background-color: #0e0e24;
  z-index: 5;
  transition: $base-transition;
  transform: translateX(110%);

  @include media('>=tablet') {
    position: static;
    background-color: transparent;
    transform: translateX(0);
    padding: 0;
    width: auto;
    height: auto;
  }

  &.active {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media('>=tablet') {
      flex-direction: row;
      align-items: center;
    }
  }

  &__item {
    position: relative;
    border-bottom: 2px dashed $text-color;
    transition: $base-transition;
    padding: 0 0 1.9rem;
    @include media('>=tablet') {
      border: none;
    }
    & + & {
      margin-top: 15px;
      padding-top: 15px;
      @include media('>=tablet') {
        padding-top: 0%;
        margin-left: 15px;
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      &::after {
        content: '';
        position: absolute;
        background-image: url('../images/ar-dw.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 3rem;
        height: 1.5rem;
        right: 0;
        top: 1.2rem;
        cursor: pointer;
        padding: 0px 0px 3rem 2rem;
        @media (min-width: 768px) {
          top: 0.7rem;
          right: -3rem;
          background-position: center top;
        }
      }
    }

    &:hover {
      .topmenu {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
  }
  &__link {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    color: $white;
    transition: $base-transition;
  }
  .topmenu {
    position: absolute;
    transition: $base-transition;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: $form-color;
    width: 26.8rem;
    z-index: 2;
    left: 0;
    top: 5.5rem;
    @media (min-width: 768px) {
      left: -45px;
      top: 4rem;
    }
  }

  .topmenu-item {
    position: relative;
    padding: 1.8rem 4.6rem;
    cursor: pointer;
    transition: $base-transition;

    &:nth-child(2) {
      &::after {
        content: '';
        position: absolute;
        background-image: url('../images/ar-dw.svg');
        background-repeat: no-repeat;
        background-position: center center;
        width: 1.5rem;
        height: 1.5rem;
        right: 2.1rem;
        top: 13px;

        cursor: pointer;
        padding: 0px 0px 3rem 2rem;

        @media (min-width: 768px) {
          transform: rotate(270deg);
          background-position: center top;
          right: 0.6rem;
        }
      }
    }

    &:hover {
      @media (min-width: 1024px) {
        background-color: $text-color;
      }

      .submenu {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
      }
    }
  }
  .topmenu-link {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 114.3%;
  }
}

.topmenu {
  .submenu {
    position: absolute;
    transition: $base-transition;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: $form-color;
    width: 26.8rem;
    left: 0;
    top: 6rem;
    z-index: 3;
    box-shadow: 0 -8px 55px -14px rgba(0, 0, 0, 0.5);

    @media (min-width: 768px) {
      box-shadow: none;
      left: 100%;
      top: 0;
    }
  }

  .submenu-item {
    position: relative;
    padding: 1.8rem 4.6rem;
    cursor: pointer;
    transition: $base-transition;

    @media (min-width: 1024px) {
      &:hover {
        background-color: $text-color;
      }
    }
  }
  .submenu-link {
    color: $white;
    font-weight: 500;
    font-size: 18px;
    line-height: 114.3%;
  }
}

.logo {
  &__wrap {
    display: flex;
    align-items: flex-start;
    margin-right: 2rem;

    @media (min-width: 768px) {
      margin-right: 0;
      margin-bottom: 5rem;
    }
    @media (min-width: 1024px) {
      align-items: center;
    }
  }
  &__link {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    @media (min-width: 576px) {
      width: auto;
    }
    @media (min-width: 1380px) {
      align-items: center;
      flex-direction: row;
      width: 40%;
    }
  }
  &__img {
    max-width: 12rem;
    width: 100%;
    height: 2.8rem;
    @media (min-width: 576px) {
      max-width: 19.8rem;
    }
  }

  &__subtext {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: $secondary-color;
  }

  .logo-subtext {
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    @media (min-width: 1380px) {
      margin-top: 0;
      margin-left: 3rem;
    }
  }
}

.nav-logo {
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 1024px) {
      justify-content: space-between;
      margin-left: 5rem;
    }
    @media (min-width: 1380px) {
      margin-left: 12.2rem;
    }
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: $white;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text-color;
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 1.8rem;
    transition: $base-transition;
    cursor: pointer;

    &:hover {
      background-color: $white;

      svg {
        path {
          fill: $text-color;
        }
      }
    }

    path {
      transition: $base-transition;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: 50%;
    width: 4.4rem;
    height: 4.4rem;
    margin-right: 1rem;
    transition: $base-transition;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: $text-color;

      svg {
        path {
          fill: $white;
        }
      }
    }

    path {
      transition: $base-transition;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 148.3%;
    color: $white;
    @media (min-width: 576px) {
      font-size: 2.2rem;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__wraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo-btn {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114.3%;
    color: $text-color;
    position: relative;
    padding: 0;
    transition: $base-transition;
    @media (min-width: 576px) {
      font-weight: 500;
      font-size: 1.8rem;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      border-bottom: 2px dashed $text-color;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      opacity: 0.6;

      &::before {
        border: none;
      }
    }
  }
}

.burger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 5px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media('>=tablet') {
    display: none;
  }

  &.active {
    span {
      position: absolute;

      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  span {
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background-color: $white;
    transition: $base-transition;

    &:nth-child(1) {
      margin-bottom: 4px;
    }

    &:nth-child(3) {
      margin-top: 4px;
    }
  }
}
.display-none {
  display: none;
  @media (min-width: 1024px) {
    display: flex;
  }
}
