<section class="info-sections">
    <div class="container">
        <div class="typography">
            <h2>Заголовок 2</h2>
            <p>Типографика— сильнейший инструмент для выражения посыла в веб-дизайне. С его помощью вы можете объединить
                текстовую и визуальную составляющие, что поможет вам достучаться до посетителя.</p>
            <h3>Заголовок 3</h3>
            <span>Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:</span>
            <ul>
                <ol>
                    1. Первый пункт списка;
                </ol>
                <ol>
                    2. Второй пункт списка;
                </ol>
                <ol>
                    3. Третий пункт списка;
                </ol>
                <ol>
                    4. Четвёртый пункт списка.
                </ol>
            </ul>
        </div>
    </div>
</section>