<section class="info4-sections">
    <div class="container">
        <div class="info4">
            <div class="typography">
                <h4>Заголовок 4</h4>
                <span>Нумерованные списки представляют собой набор элементов с их порядковыми номерами. Пример:</span>
                <ul>
                    <li>
                        Первый пункт списка;
                    </li>
                    <li>
                        Второй пункт списка;
                    </li>
                    <li>
                        Третий пункт списка;
                    </li>
                    <li>
                        Четвёртый пункт списка.
                    </li>
                </ul>
                <p>Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который там будет — зачастую, это контента ещё просто не существует. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст, который вписывается в контентные блоки. Поэтому дизайнеры (да и верстальщики тоже) используют «рыбу» — произвольный текст., который вписывается в контентные блоки. Совершенно естественно, что при разработке сайта почти никогда не используется тот контент, который вписывается в контентные блоки. Совершенно естественно. <a href="" class="link">Читать далее...</a></p>
            </div>
        </div>
    </div>
</section>