<section class="card-sections">
    <div class="container">
        <div class="card-wrap">
            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card__wrap">
                    <div class="card__row">
                        <div class="card__img">
                            <img src="assets/images/sl.jpg" alt="">
                        </div>
                        <div class="card__col">
                            <div class="card__text-wrap">
                                <span class="card__title">Списан долг:</span>
                                <span class="card__subtitle">835 920 ₽</span>
                            </div>
                            <div class="card__text-wraper">
                                <span class="card__text">Номер дела в Арбитражном суде:</span>
                                <span class="card__subtext">рб а07-37820/2022!</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__col">
                        <span class="card__info">Кейс банкротство - непредвиденные расходы</span>
                        <p class="card__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                            оплачивал во время почти год, строился и все было хорошо! Но
                            неожиданно у матери случился инсульт и резко умирает родной
                            ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                            тысяч рублей. Спустя месяц мужчина был вынужден продать
                            подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                            оплачивать съемную квартиру и помогать.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @@include('../components/pagination.html')
    </div>
</section>