<section class="about-sections">
    <div class="container">
        <div class="crumbs">
            <ul class="crumbs__list">
                <li class="crumbs__item">
                    <a href="index.html" class="crumbs__link">
                        Главная
                    </a>
                    <a href="" class="crumbs__link">
                        О нас
                    </a>
                </li>
            </ul>
        </div>
        <h2 class="section-title"> О нас</h2>
    </div>
</section>