<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__logo">
                <a href="index.html" class="footer__logo-link">
                    @@include('../icons-svg/logo.html')
                    <div class="footer__logo-subtext">
                        <span class="footer-logo__subtext">Краткое описание</span>
                        <span class="footer-logo__subtext">деятельности компании</span>
                    </div>
                </a>
            </div>
            <nav class="footer-nav">
                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link title-color">
                            Меню
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Главная
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            О нас
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Услуги
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Галерея
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Новости
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Отзывы
                        </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="" class="footer-nav__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="address footer-none">
                <ul class="address__list">
                    <li class="address__item">
                        <span class="address__title">Контакты</span>
                    </li>
                    <li class="address__item">
                        <span class="address__subtext">Адрес офиса:</span>
                        <span class="address__text">г. Москва ул. Димитрова 20, оф.18. </span>
                    </li>
                    <li class="address__item">
                        <span class="address__subtext">Время работы:</span>
                        <span class="address__text">с 8:00 до 20:00</span>
                    </li>
                    <li class="address__item">
                        <span class="address__subtext">E-mail:</span>
                        <a href="mailto:example@mail.ru" class="address__link address__text">example@mail.ru</a>
                    </li>
                </ul>
            </nav>

            <nav class="social">
                <ul class="social__list">
                    <li class="social__item">
                        <div class="social__wrap">
                            <a href="tel:+7000000-00-00" class="social__link">+7 (000) 000-00-00</a>
                            <button type="button" class="logo-btn js-show-popup" data-trigger="open-popup">Заказать звонок</button>
                        </div>
                    </li>
                    <li class="social__item">
                        <div class="social__wraper">
                            <a href="#" class="social__link mr-1">
                                <span class="social__icon">
                                    @@include('../icons-svg/tg.html')
                                </span>
                            </a>
                            <a href="#" class="social__link mr-1">
                                <span class="social__icon">
                                    @@include('../icons-svg/vk.html')
                                </span>
                            </a>
                            <a href="#" class="social__link">
                                <span class="social__icon">
                                    @@include('../icons-svg/inst.html')
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="copyright">
            <div class="copyright__wrap">
                <span class="copyright__text">Логотип © 2017 - 2022</span>
                <a href="#" class="copyright__politika">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>