<header class="header menu">
    <div class="container header__wrap">
        <div class="logo">
            <div class="logo__wrap">
                <a href="index.html" class="logo__link">
                    <img src="assets/images/logo.svg" alt="" class="logo__img">
                    <div class="logo-subtext">
                        <span class="logo__subtext">Краткое описание</span>
                        <span class="logo__subtext">деятельности компании</span>
                    </div>
                </a>
                <nav class="nav-logo">
                    <ul class="nav-logo__list">
                        <li class="nav-logo__item display-none">
                            <span class="nav-logo__icon">
                                @@include('../icons-svg/local.html')
                            </span>
                            <div class="nav-logo__wraper ">
                                <span class="nav-logo__text">г. Москва ул. Димитрова 20, оф.18.
                                </span>
                                <span class="nav-logo__text">График работы: с 8:00 до 20:00</span>
                            </div>
                        </li>
                        <li class="nav-logo__item display-none">
                            <a href="#" class="nav-logo__icons">
                                @@include('../icons-svg/tg.html')
                            </a>
                            <a href="#" class="nav-logo__icons">
                                @@include('../icons-svg/vk.html')
                            </a>
                            <a href="#" class="nav-logo__icons">
                                @@include('../icons-svg/inst.html')
                            </a>
                        </li>
                        <li class="nav-logo__item">
                            <div class="nav-logo__wrap">
                                <a href="tel:+70000000000" class="nav-logo__link">+7 (000) 000-00-00</a>
                                <button type="button" class=" logo-btn js-show-popup" data-trigger="open-popup">Заказать
                                    звонок</button>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <nav class="nav js-burger" id="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">Главная</a>
                </li>
                <li class="nav__item">
                    <a href="about.html" class="nav__link">О нас</a>
                </li>
                <li class="nav__item ">
                    <a href="" class="nav__link active">Услуги</a>
                    <ul class="topmenu">
                        <li class="topmenu-item">
                            <a href="" class="topmenu-link">Пункт меню 1</a>
                        </li>
                        <li class="topmenu-item">
                            <a href="" class="topmenu-link">Пункт меню 2</a>
                            <ul class="submenu">
                                <li class="submenu-item">
                                    <a href="" class="submenu-link">Пункт меню 2.1</a>
                                </li>
                                <li class="submenu-item">
                                    <a href="" class="submenu-link">Пункт меню 2.2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="topmenu-item">
                            <a href="" class="topmenu-link">Пункт меню 3</a>
                        </li>
                        <li class="topmenu-item">
                            <a href="" class="topmenu-link">Пункт меню 4</a>
                        </li>
                    </ul>
                </li>
                </li>
                <li class="nav__item">
                    <a href="gallery.html" class="nav__link">Галерея</a>
                </li>
                <li class="nav__item">
                    <a href="new.html" class="nav__link">Новости</a>
                </li>
                <li class="nav__item">
                    <a href="reviews.html" class="nav__link">Отзывы</a>
                </li>
                <li class="nav__item">
                    <a href="contact.html" class="nav__link">Контакты</a>
                </li>
            </ul>
        </nav>


        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>