<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Verst</title>
    
    <link media="all" rel="stylesheet" href="assets/css/vendor.min.css">
    <link media="all" rel="stylesheet" href="assets/css/styles.min.css">
    <link media="all" rel="stylesheet" href="assets/fonts/stylesheet.css">
    <link media="all" rel="stylesheet" href="swiper.css">
    <link media="all" rel="stylesheet"href="simplePagination.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
</head>