<section class="ask-sections">
    <div class="ask-wrap">
        <div class="ask">
            <div class="ask__wrap">
                <div class="ask__col">
                    <h2 class="section-title"><span class="min-weight-text">Задайте вопрос</span>
                        нашему спецалисту</h2>
                    <span class="ask__text">Получите ответ в течение 2 часов на все интересующие вас вопросы. Наш
                        специалист перезвонит вам по телефону </span>
                    <div class="ask__col-wrap">
                        <div class="ask__img">
                            <img src="assets/images/ask.jpg" alt="">
                        </div>
                        <div class="ask__text-wrap">
                            <span class="ask__name">Александр</span>
                            <span class="ask__pos">Менеджер по ведению клиентов</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ask">
            <div class="ask__wrap">
                <form class="form">
                    <div class="form__wrap">
                        <div class="form__field">
                            <div class="form__label">Введите имя и фамилию</div>
                            <input type="text" name="text" placeholder="Имя Фамилия" class="form__input">
                        </div>
                        <div class="form__field">
                            <div class="form__label">Введите номер телефона</div>
                            <input type="text" name="text" placeholder="+7 (___) ___+__+__" class="form__input tel">
                        </div>
                        <div class="form__field mb-18">
                            <div class="form__label">Задайте ваш вопрос</div>
                            <textarea class="form__textarea" placeholder="Ваше сообщение..."></textarea>
                        </div>

                        <div class="form__btn">
                            <button type="button" class="btn primary">узнать стоимость</button>
                        </div>

                        <div class="form__dan">
                            <span class="form__text">Нажимая на кнопку «Заказать звонок», вы подтверждаете свое согласие
                                на
                                <a href="#" class="form__link"> обработку персональных
                                    данных</a>
                            </span>

                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>