<section class="cases-sections">
    <div class="container">
        <h2 class="section-title"><span class="min-weight-text">Примеры успешно</span> завершенных дел</h2>
        <div class="cases-container">
            <div class="cases-button-next"></div>
            <div class="cases-button-prev"></div>
        </div>
        <div class="swiper swiper-cases js-cases">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="cases">
                        <div class="cases__wrap">
                            <div class="cases__row">
                                <div class="cases__img">
                                    <img src="assets/images/sl.jpg" alt="">
                                </div>
                                <div class="cases__col">
                                    <div class="cases__text-wrap">
                                        <span class="cases__title">Списан долг:</span>
                                        <span class="cases__subtitle">835 920 ₽</span>
                                    </div>
                                    <div class="cases__text-wraper">
                                        <span class="cases__text">Номер дела в Арбитражном суде:</span>
                                        <span class="cases__subtext">рб а07-37820/2022!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__col">
                                <span class="cases__info">Кейс банкротство - непредвиденные расходы</span>
                                <p class="cases__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                                    оплачивал во время почти год, строился и все было хорошо! Но
                                    неожиданно у матери случился инсульт и резко умирает родной
                                    ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                                    тысяч рублей. Спустя месяц мужчина был вынужден продать
                                    подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                                    оплачивать съемную квартиру и помогать.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cases">
                        <div class="cases__wrap">
                            <div class="cases__row">
                                <div class="cases__img">
                                    <img src="assets/images/sl2.jpg" alt="">
                                </div>
                                <div class="cases__col">
                                    <div class="cases__text-wrap">
                                        <span class="cases__title">Списан долг:</span>
                                        <span class="cases__subtitle">835 920 ₽</span>
                                    </div>
                                    <div class="cases__text-wraper">
                                        <span class="cases__text">Номер дела в Арбитражном суде:</span>
                                        <span class="cases__subtext">рб а07-37820/2022!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__col">
                                <span class="cases__info">Кейс банкротство - непредвиденные расходы</span>
                                <p class="cases__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                                    оплачивал во время почти год, строился и все было хорошо! Но
                                    неожиданно у матери случился инсульт и резко умирает родной
                                    ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                                    тысяч рублей. Спустя месяц мужчина был вынужден продать
                                    подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                                    оплачивать съемную квартиру и помогать.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cases">
                        <div class="cases__wrap">
                            <div class="cases__row">
                                <div class="cases__img">
                                    <img src="assets/images/sl.jpg" alt="">
                                </div>
                                <div class="cases__col">
                                    <div class="cases__text-wrap">
                                        <span class="cases__title">Списан долг:</span>
                                        <span class="cases__subtitle">835 920 ₽</span>
                                    </div>
                                    <div class="cases__text-wraper">
                                        <span class="cases__text">Номер дела в Арбитражном суде:</span>
                                        <span class="cases__subtext">рб а07-37820/2022!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__col">
                                <span class="cases__info">Кейс банкротство - непредвиденные расходы</span>
                                <p class="cases__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                                    оплачивал во время почти год, строился и все было хорошо! Но
                                    неожиданно у матери случился инсульт и резко умирает родной
                                    ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                                    тысяч рублей. Спустя месяц мужчина был вынужден продать
                                    подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                                    оплачивать съемную квартиру и помогать.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="cases">
                        <div class="cases__wrap">
                            <div class="cases__row">
                                <div class="cases__img">
                                    <img src="assets/images/sl2.jpg" alt="">
                                </div>
                                <div class="cases__col">
                                    <div class="cases__text-wrap">
                                        <span class="cases__title">Списан долг:</span>
                                        <span class="cases__subtitle">835 920 ₽</span>
                                    </div>
                                    <div class="cases__text-wraper">
                                        <span class="cases__text">Номер дела в Арбитражном суде:</span>
                                        <span class="cases__subtext">рб а07-37820/2022!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="cases__col">
                                <span class="cases__info">Кейс банкротство - непредвиденные расходы</span>
                                <p class="cases__subinfo">Мужчина озял кредит 450 тыс рублей на строительство дачи,
                                    оплачивал во время почти год, строился и все было хорошо! Но
                                    неожиданно у матери случился инсульт и резко умирает родной
                                    ‘дядя. Похоронить дядю не кому; пришлось ещё взять кредит на 100
                                    тысяч рублей. Спустя месяц мужчина был вынужден продать
                                    подержанный КАМАЗ за 100 тыс. рублей, чтоб было на что
                                    оплачивать съемную квартиру и помогать.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>