<section class="intro-sections">
    <div class="container">
        <div class="intro-col">
            <h2 class="main-title main-color"> Спишите ваш долг законноза 6 месяцев</h2>
            <h2 class="main-title ">и получите защитусвоих доходов от банков с первого дня</h2>
        </div>
        <p class="base-text">За 7 лет работы провели 1000+ успешных дел, что подтверждено ЕФРСБ
            и благодарностями клиентов</p>
        <div class="intro-btn">
            <button type="button" class="btn primary js-show-popup" data-trigger="open-popup">записаться на
                консультацию</button>
        </div>
    </div>
</section>