<section class="trust-sections">
    <div class="container">
        <h2 class="section-title">Нам доверяют</h2>
        <div class="trust-wrap">
            <div class="trust">
                <div class="trust__wrap">
                    <div class="trust__img">
                        <img src="assets/images/logo-1.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-2.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-4.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="trust">
                <div class="trust__wrap">
                    <div class="trust__img">
                        <img src="assets/images/logo-4.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-3.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="trust">
                <div class="trust__wrap" >
                    <div class="trust__img">
                        <img src="assets/images/logo-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>